fastapi
requests
langgraph
langchain_ollama
IPython
python-multipart
fastapi[standard]
psycopg[binary,pool]
langgraph-checkpoint-postgres
uvicorn[standard]
# TODO : fix the versions for the stable release